@CHARSET "UTF-8";

body {
background-image:url("img/bokeh.jpg");
background-repeat:no-repeat; 
background-size: cover;
background-attachment: fixed;}

#logo {background-color: #410;
 border-left:10px solid #831;
 border-right:10px solid #831;
 margin: 70px 0 0 20px;
 padding:10px 20px; 
 color: #fff;
 font-family: "Verdana",sans-serif;	
 float: left; }


 /* 상단 메뉴바 */
nav {/* border: 1px solid green; */
 float: right;
 margin:70px 40px 100px 0;}

nav>ul {/* border: 1px solid brown; */
 height:30px;
 list-style: none;}
 
nav li {/* border: 1px solid red; */
 background-color:red;
 float: left;
 /* width:100px; */
 margin-right: 20px;
 text-align: center;
 font-weight: bold;}

nav li:HOVER {background-color:#000; }
 
nav a {/* border: 1px solid yellow; */
 padding: 0 20px;
 text-decoration: none;}
 
nav a:LINK {color:#ff0; } /* 초기 링크 */
nav a:VISITED {color:#ff0; }/* 방문한 링크 */
nav a:HOVER {color:#f00; }  /* 마우스오버시 */
nav a:ACTIVE {color:#f00; }  /* 활성화 링크 */

section {border: 6px dashed #fff;
 margin: 100px 20px;
 padding: 30px;
 width: 800px; }

#sec {clear: both;
 background-color:rgba(255,255,255,0.5);
 font-size: 1.2em; }
 
#sec li { border-bottom: 3px dotted;
   margin-bottom: 10px;
   padding-bottom:5px;
   color: #333;} 

#sec p {margin-top: 50px; }

#sec01>p, #sec02>p {border: 1px solid;
 font-size: 1.5em;
 line-height: 1.6; }

#sec01>p:FIRST-LINE, #sec02>p:FIRST-LINE
{font-weight: bold;
 letter-spacing:2px;
 color: #f00;	
}

#sec01>img {float: left;
 margin: 0 12px 12px 0;}
 
#sec02>img {float: right;
 margin: 3px;}

 #sec03 li {border: 1px solid;
  width: 120px;
  float: left;
  color: #f00;}
  
 #sec03>p {clear: both;}
 
 #sec04 li {border: 1px solid;
  width: 120px;
  float: right;
  color: #00f;}
 
 #sec04>p {clear: both;} 


 #sec05 li {border: 1px solid;}

 #sec05 li:NTH-OF-TYPE(1) {
	color: red;
	float: left; }

 #sec05 li:NTH-OF-TYPE(2) {
	color: blue; 
	float: right; }

 #sec05>p {clear: both;}


















